h2.intro {
  font-style: italic;
  color: #f9f9f9;
  font-weight: lighter;
}

p.intro {
  text-indent: 40px;
}

img.intro {
  align-items: center;
}

.intro {
  text-indent: 40px;
  align-items: center;
  font-style: italic;
  font-weight: bold;
}
